.adrNavbar {
    height: 100vh;
    background-color: #3d3d3d;
}

.nav-pills .nav-link.active {
 background-color: #ffffffbb;

}
a {
    color: #ffffff
}
a:hover {
    color: #979797
}
.navBottomItens {
    position: absolute;
    bottom: 5px;    
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    padding-left: 0;
}